<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MessMate</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-5">
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
            <div class="text-center my-5">
              <h1 class="display-5 fw-bolder text-white mb-2">MessMate</h1>
              <p class="lead text-white-50 mb-4">
                VIT Vellore's Mess Menu Formation System
              </p>
              <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                <a
                  class="btn btn-outline-warning btn-lg px-4 me-sm-3"
                  href="/login"
                  >Login</a
                >
                <a class="btn btn-outline-light btn-lg px-4" href="/signup"
                  >Signup</a
                >
                <a
                  class="btn btn-outline-info btn-lg px-4 me-sm-3"
                  href="/admin/login"
                  >Admin Login</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="bg-light py-2 border-bottom">
      <div class="container px-5 my-5">
        <div class="text-center mb-5">
          <p align="justify">
            Welcome to MessMate, your one-stop platform for actively
            participating in shaping the mess menu at VIT Vellore! We believe
            that a well-balanced, nutritious, and diverse menu enhances the
            student experience. This system allows you to suggest, review, and
            contribute to the finalization of the weekly mess menu. Your inputs
            play a crucial role in ensuring that the food served aligns with the
            preferences and dietary needs of the students. Let’s work together
            to create a menu that is both delicious and wholesome!
          </p>
        </div>
      </div>
    </section>

    <section class="bg-light py-2 border-bottom">
      <div class="container px-5 my-5">
        <div class="text-center mb-5">
          <h2>Guidelines for Suggesting a Menu</h2>
          <hr />

          <table cellpadding="10">
            <tr>
              <td>
                <div class="card" style="height: 8rem; width: 18rem">
                  <div class="card-body">
                    <h5 class="card-title">Balanced Nutrition</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Ensure your suggestions include a mix of proteins,
                      carbohydrates, vegetables, and essential nutrients
                    </h6>
                  </div>
                </div>
              </td>
              <td>
                <div class="card" style="height: 8rem; width: 18rem">
                  <div class="card-body">
                    <h5 class="card-title">Diversity in Cuisine</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Propose a variety of dishes that cater to different taste
                      preferences
                    </h6>
                  </div>
                </div>
              </td>
              <td>
                <div class="card" style="height: 8rem; width: 18rem">
                  <div class="card-body">
                    <h5 class="card-title">Health Considerations</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Avoid excessive oily, fried, or overly spicy food to
                      maintain a healthy diet
                    </h6>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="card" style="width: 18rem">
                  <div class="card-body">
                    <h5 class="card-title">Feasibility & Availability</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Consider ingredients that are seasonally available and
                      practical for large-scale preparation
                    </h6>
                  </div>
                </div>
              </td>
              <td>
                <div class="card" style="width: 18rem">
                  <div class="card-body">
                    <h5 class="card-title">Meal-Time Suitability</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Suggest dishes appropriate for breakfast, lunch, snacks,
                      and dinner
                    </h6>
                  </div>
                </div>
              </td>
              <td>
                <div class="card" style="width: 18rem">
                  <div class="card-body">
                    <h5 class="card-title">Dietary Preferences</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Keep in mind vegetarian, vegan, and other dietary
                      requirements for inclusivity
                    </h6>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <section class="bg-light py-2 border-bottom">
      <div class="container px-5 my-5">
        <div class="text-center mb-5">
          <h2>Adminstration</h2>
          <hr />
          <table cellpadding="10">
            <tr>
              <td>
                <div class="card" style="width: 18rem">
                  <div class="card-body">
                    <h5 class="card-title">Director, Mens Hostel</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Dr. Mohanasundaram R
                    </h6>
                    <a href="mailto:director.mh@vit.ac.in" class="card-link"
                      >director.mh@vit.ac.in</a
                    >
                  </div>
                </div>
              </td>
              <td>
                <div class="card" style="width: 18rem">
                  <div class="card-body">
                    <h5 class="card-title">Chief Warden, Mens Hostel</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Dr. Sathiavelu A
                    </h6>
                    <a href="mailto:cw.mh@vit.ac.in" class="card-link"
                      >cw.mh@vit.ac.in</a
                    >
                  </div>
                </div>
              </td>
              <td>
                <div class="card" style="width: 18rem">
                  <div class="card-body">
                    <h5 class="card-title">Director, Ladies Hostel</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Dr. Nirmala G S
                    </h6>
                    <a href="mailto:director.lh@vit.ac.in" class="card-link"
                      >director.lh@vit.ac.in</a
                    >
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="card" style="width: 18rem">
                  <div class="card-body">
                    <h5 class="card-title">Chief Warden, Ladies Hostel</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Dr. Mythili S</h6>
                    <a href="mailto:cw.lh@vit.ac.in" class="card-link"
                      >cw.lh@vit.ac.in</a
                    >
                  </div>
                </div>
              </td>
              <td>
                <div class="card" style="width: 18rem">
                  <div class="card-body">
                    <h5 class="card-title">Warden - Food</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Dr. Calaivanane R
                    </h6>
                    <a href="mailto:warden.food@vit.ac.in" class="card-link"
                      >warden.food@vit.ac.in</a
                    >
                  </div>
                </div>
              </td>
              <td>
                <div class="card" style="width: 18rem">
                  <div class="card-body">
                    <h5 class="card-title">Assistant Manager – Food</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Mr. D. Varadharajan
                    </h6>
                    <a
                      href="mailto:asstmanager.food@vit.ac.in"
                      class="card-link"
                      >asstmanager.food@vit.ac.in</a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container px-5">
        <p class="m-0 text-center text-white">
          Copyright &copy; MessMate. All Rights Reserved.
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
