<link rel="stylesheet" href="/css/styles.css">

<div class="container px-5 my-5">
    <form id="contactForm" method="POST" action="/signup">
        <div class="form-floating mb-3">
            <input class="form-control" id="name" name="name" type="text" placeholder="Name" data-sb-validations="required" />
            <label for="name">Name</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="emailAddress" name="email" type="email" placeholder="Email Address" data-sb-validations="required,email" />
            <label for="emailAddress">Email Address</label>
            <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
            <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="hostel"  name="hostel" aria-label="Block">
                <option value="MH A">MH A</option>
                <option value="MH B">MH B</option>
                <option value="MH B ANNEX">MH B ANNEX</option>
                <option value="MH C">MH C</option>
                <option value="MH D">MH D</option>
                <option value="MH D ANNEX">MH D ANNEX</option>
                <option value="MH E">MH E</option>
                <option value="MH F">MH F</option>
                <option value="MH G">MH G</option>
                <option value="MH H">MH H</option>
                <option value="MH I">MH I</option>
                <option value="MH J">MH J</option>
                <option value="MH J ANNEX">MH J ANNEX</option>
                <option value="MH K">MH K</option>
                <option value="MH L">MH L</option>
                <option value="MH M">MH M</option>
                <option value="MH M ANNEX">MH M ANNEX</option>
                <option value="MH N">MH N</option>
                <option value="MH N ANNEX">MH N ANNEX</option>
                <option value="MH P">MH P</option>
                <option value="MH Q">MH Q</option>
                <option value="MH R">MH R</option>
                <option value="MH S">MH S</option>
                <option value="MH T">MH T</option>
                <option value="LH A">LH A</option>
                <option value="LH B">LH B</option>
                <option value="LH C">LH C</option>
                <option value="LH D">LH D</option>
                <option value="LH E">LH E</option>
                <option value="LH F">LH F</option>
                <option value="LH G">LH G</option>
                <option value="LH H">LH H</option>
                <option value="LH J">LH J</option>
                <option value="RGT H">RGT H</option>
                <option value="LH GH (Annex)">LH GH (Annex)</option>
            </select>
            <label for="block">Block</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="mess" name="mess" aria-label="Mess">
                <option value="Zenith">Zenith</option>
                <option value="SRCC">SRCC</option>
                <option value="Darling">Darling</option>
            </select>
            <label for="mess">Mess</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="password" name="password" type="password" placeholder="Password" data-sb-validations="required" />
            <label for="password">Password</label>
            <div class="invalid-feedback" data-sb-feedback="password:required">Password is required.</div>
        </div>
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                <p>To activate this form, sign up at</p>
                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
        </div>
        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Create Account</button>
        </div>
    </form>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>